<h2>gmap</h2> 
  <input id="address" type="textbox" value="address">
  <input type="button" value="地図検索" onclick="codeAddress()"> 
<div class="maps">
  <div id='map'></div>
</div>
  <style>
  #map {
    height: 600px;
    width: 600px;
  }
  </style>

  <script>
  let map

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.7828, lng:-73.9653},
      zoom: 12,
    });

    marker = new google.maps.Marker({
      position:  {lat: 40.7828, lng:-73.9653},
      map: map
    });
  }

  let geocoder

  function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4_bSrfh5FcctX96yp5zFjlfZ8cuzbeeE&callback=initMap" async defer></script>

<div class="contents row">
  
  <div class="content_post" style="background-image: url(<%= @post.image %>);">   
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_post_path(@post.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', post_path(@post.id), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    
    <p><%= @post.text %></p>
    <span class="name">
      <a href="/users/<%= @post.user.id %>">
        <span>投稿者</span><%= @post.user.nickname %>
      </a>
    </span>
  </div>
  <span>■タイトル</span><p><%= @post.title %></p>
  <span>■日付</span><p><p><%= @post.date %></p>
  <span>■住所</span><p><%= @post.address %></p>
  
  <span>■評価</span><p><%= @post.evaluation %></p>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>